* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#ffe4ec, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.card {
  background: #ffd6e5;
  width: 520px;
  padding: 50px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 25px 45px rgba(0,0,0,0.15);
}

.title {
  color: #ff4d88;
  font-size: 32px;
  margin-bottom: 25px;
}

/* PASSWORD */
input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.keypad button {
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: #fff;
  font-size: 18px;
  cursor: pointer;
}

/* QUESTION */
.dog {
  width: 200px;
  margin: 35px 0;
}

/* BUTTON AREA */
.buttons {
  position: relative;
  height: 90px;
}

/* YES — NAKAPIRMING NASA GILID (LEFT) */
.yes {
  position: absolute;
  left: 80px;     /* <<< NASA GILID */
  top: 0;

  background: #ff4d88;
  color: white;
  padding: 8px 35px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* NO — NASA KANAN AT GUMAGALAW */
.no {
  position: absolute;
  right: 80px;    /* START SA KANAN */
  top: 0;

  background: #4d6bff;
  color: white;
  padding: 10px 35px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* FINAL */
.final-text {
  font-size: 38px;
  color: #ff4d88;
}
